<app-navbar></app-navbar>



<div class="row" *ngIf="service.qns && this.service.qnProgress !=10">
    <div class="col s8 offset-s2">

        <span>Time Taken:{{service.displaytime()}}</span>
        <div class="progress">
            <div class="determinate" [style.width.%]="(service.qnProgress+1)*10"></div>
        </div>

        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{service.qnProgress+1}}</span>
                <p>{{service.qns[service.qnProgress].Qn}}</p>
                <div *ngIf="service.qns[service.qnProgress].ImageName!=null">
                    <img class="center"
                        [src]="'http://28663af4.ngrok.io/Images/'+service.qns[service.qnProgress].ImageName"
                        style="width:350px;height:200px">
                </div>
            </div>
            <div class="card-action">
                <ul class="collection answer">
                    <ng-container *ngFor="let option of service.qns[service.qnProgress].Options;let i = index">
                        <li *ngIf="option != null" class="collection-item"
                            (click)="Answer(service.qns[service.qnProgress].QnID,i)">
                            {{i+1}}<span>)&nbsp;&nbsp;</span>{{option}}
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>

    </div>
</div>